<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/petition.css" />
    <script src="petition.js"></script>
    <title>petition</title>
</head>

<body>
    <div class="top-bar">
        <img class="logo" src="/images/change_logo.png" alt="" />

        <p class="petition">Start A Petition</p>
        <p class="my-petition">My Petition</p>
        <p class="browse">Browse</p>
        <p class="membership">Membership</p>
    </div>

    <div class="statement">Move CPTS 489 to the Evening</div>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img class="petition_img" src="/images/petition_img.webp" alt="" />
                <p class="started">Started January 26, 2024</p>
                <p class="pet-info">Petition to United States Department of Health and Human Services and 2 others</p>
                <p class = "info">We, the undersigned members of the CPTS 489 course community, respectfully request the consideration of moving the class schedule from its current 8 AM time slot to the evening hours. As committed students passionate about our academic pursuits, we believe that relocating the course to the evening will facilitate greater attendance and participation among our peers. The early morning timing poses significant challenges for many students, including those with long commutes, work commitments, or other academic obligations, limiting their ability to fully engage with the course material and contribute meaningfully to class discussions.

                    By moving CPTS 489 to the evening, we aim to foster a more inclusive and accessible learning environment that accommodates the diverse needs and schedules of our student body. This adjustment would not only enhance the overall learning experience but also promote student success and academic excellence within the program. We urge the administration and relevant stakeholders to consider our petition and collaborate with the student body to implement this change, thereby ensuring that every student has the opportunity to thrive and excel in their educational endeavors.</p>
            </div>
            <div class="col-4">
                <p class="sign-up">Sign This Petition </p>
                <form method="post" action="/create">
                    <fieldset>
                    <p class="name-f">First Name </p>
                      <div>
                        <input
                          type="text"
                          id="name"
                          name="name"     
                        />
                      </div>
                      <div>
                        <p class="lastname">Last Name </p>
                        <input
                          type="text"
                          id="lastname"
                          name="lastname"
                        />
                        <div>
                            <p class="email">Email </p>
                            <input
                              type="text"
                              id="email"
                              name="email"
                            />
                          </div>
                      </div>
                      <input type="submit" value = "Sign This Petition" class = "but"></button>
                    </fieldset>
                  </form>
              
            </div>
        </div>
    </div>
    <div class = "comment-section">
        <h2 title>Reasons for signing</h1>
          <div>
              <% users.forEach(user => { %>
                <p1><%= user.name %></p1>
                <%= user.lastname %>
                <%= user.email %>
                <br>
              <% }); %>
        </div>
    </div>
</body>